[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-box = "*"
playwright = "*"
PyYAML = "*"
Appium-Python-Client = "*"

[dev-packages]
pytest = "*"
pylama = "*"

[requires]
python_version = "3.8"
